.flashy{
  font-style: italic;
  color: red;
  font-weight: bold;
}

.best{
  font-style: oblique;
  color: blue;
}

.container{
  width: auto;
  height: 100px;
}

body{
  font-family: fantasy;
  background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2013/05/14/85887/f016f4cf2c9a46bd6b91bf6022c4fff6.jpg)
}
